@import "tailwindcss";

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #9333ea; /* Purple scrollbar */
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f3e8ff; /* Light purple track */
  }
  