@import "tailwindcss";

/* Custom scrollbar */
.scrollbar-purple::-webkit-scrollbar {
  width: 3px;
}

.scrollbar-purple::-webkit-scrollbar-thumb {
  background-color: #d8b4fe; /* Tailwind purple-300 */
  border-radius: 5px;
}

.scrollbar-purple::-webkit-scrollbar-track {
  background: #f3e8ff; /* Lighter purple background */
}

/* Firefox support */
.scrollbar-purple {
  scrollbar-color: #d8b4fe #f3e8ff;
}

@media print {
  body * {
    visibility: hidden;
  }
  #printTable, #printTable * {
    visibility: visible;
  }
  #printTable {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .print:hidden {
    display: none !important;
  }
  .print:block {
    display: block !important;
  }
} 

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin: auto;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


